<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GustavByCocktail Player</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../../js/back/playlist/clientList.js"></script>
</head>
<body>

<% include ../home.ejs %>

</body>
</html>