<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GustavByCocktail Player</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../../js/back/playlist/new.js"></script>
    <link href="../../../css/style.css">
</head>
<body>


<% include ../home.ejs %>
<input id="idUser" value="<%= id %>" hidden>
<input id="admin" hidden>

</body>
</html>