<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <title>GustavByCocktail Player</title>
</head>
<body>
<script type="application/javascript" src="../../../js/back/home.js"></script>
<%# include ../home.ejs %>
<div class="container">
    <h2></h2>

    <div id="lien"></div>
    <br><br>

    <table id="table1" class="table">


    </table>

    <div id="table"></div>


</div>
<script type="text/javascript" src="../../../js/back/playlist/play.js">
</script>

</body>
</html>